/* Reset browser defaults to make browser-independant */
* { margin:0px; padding:0px; } 
body { font-family: Verdana, Arial, sans-serif; font-size:12px;  }
p { padding-bottom:5px; line-height:1.4em; }
ul, ol { margin-left: 10px; }
li  { margin-left:10px; padding-left:10px; }
a img { border:0px; } 
a, a:active { outline: none; }  
.clear { clear:both; }

/* Set color and font scheme for site */
body { background-color: #707070; padding: 10px; }
h1 { text-align: center; color: #FF9640; }
p { text-align: left; color: #61B7CF; font-weight: 700; }